  <div id="app"></div>
  <script>
    //  Fill this form https://cowprotocol.typeform.com/to/rONXaxHV once you pick your "appCode"
    const params = {
        "appCode": "My Cool App", // Name of your app (max 50 characters)
        "width": "352px", // Width in pixels (or 100% to use all available space)
        "height": "640px",
        "chainId": 1, // 1 (Mainnet), 100 (Gnosis), 11155111 (Sepolia)
        "tokenLists": [ // All default enabled token lists. Also see https://tokenlists.org
            "https://files.cow.fi/tokens/CowSwap.json"
        ],
        "tradeType": "swap", // swap, limit or advanced
        "sell": { // Sell token. Optionally add amount for sell orders
            "asset": "USDC",
            "amount": "10000"
        },
        "buy": { // Buy token. Optionally add amount for buy orders
            "asset": "ETH",
            "amount": "0"
        },
        "enabledTradeTypes": [ // swap, limit and/or advanced
            "swap",
            "limit",
            "advanced"
        ],
        "theme": "light", // light/dark or provide your own color palette
        "standaloneMode": true,
        "disableToastMessages": false,
        "provider": "EIP-1271 Provider"
    }

    // Ethereum EIP-1193 provider. For a quick test, you can pass `window.ethereum`, but consider using something like https://web3modal.com
    const provider = window.ethereum

    const { updateParams } = cowSwapWidget.createCowSwapWidget(
      document.getElementById("app"),
      { params, provider }
    )
  </script>