<nav class="relative px-2 md:px-4 py-2 flex justify-between items-center">
	<%= render partial: 'shared/header' %>
	<ul class='flex font-bold text-gray-500 space-x-2 title'>
		<li><a href="/u">Uniswap</a></li>
		<li><a href="j">Jupiter</a></li>
		<li><a href="/c">Cow</a></li>
		<li><a href="/b">Bridge</a></li>
	</ul>
</nav>