<nav class="relative px-4 py-4 flex justify-between items-center">
	<%= render partial: 'shared/header' %>
<ul class='flex font-bold text-gray-500'>
	<li class=''>	
        <a href="/dex/uni" class="">Uniswap</a>
	</li>
	<li class="text-gray-300">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
		</svg>
	</li>
	
	<li class=''>	
        <a href="/dex/jup" class="">Jupiter</a>
	</li>
	<li class="text-gray-300">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
		</svg>
	</li>
	<li class=''>
        <p><a href="/dex/cow" class="space-x-1">Cow</a></p>
	</li>
	<li class="text-gray-300">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
		</svg>
	</li>
	<li class=''>
        <p><a href="/bridge/index" class="space-x-1">Bridge</a></p>
	</li>
</ul>
</nav>