<div>
<h1 class='text-lg font-bold'><%= "https://defi.io/" + @shortened_url.unique_key %><h1>
<h3 class='text-lg font-bold'><%= @domain + "/" + @shortened_url.unique_key %></h3>
<br>
<%= @shortened_url.url %>
<div>
