<nav class="relative px-4 py-4 flex justify-between items-center">
	<%= render partial: 'default/shared/header' %>
	<ul class='flex font-bold text-gray-500'>
	<li class=''>	
        <a href="/feed" class="">Feed</a>
	</li>
	</ul>
</nav>