<div id="convert">
	<div class='text-2xl text-slate-700 py-5'>
		<span class='text-slate-500'><%= params[:amount]%></span>
		<span class='text-slate-400'> <%= params[:from] %> = </span>
		<span class="text-4xl"><%= total_amount %></span>
		<span class='text-slate-400'> <%= params[:to] %></span>
	</div>
</div>