<h1 class='text-5xl font-medium text-slate-600'><%= @latest_price.symbol %> to USD</h1>
<div class='text-5xl text-slate-700 pb-10'>
	<h2><span class='text-slate-300'>$</span><%= @latest_price.price %></h2>
</div>